table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, serif;
    font-size: 12px;
}

table td, table th {
    border: 1px solid;
    padding: 2px 5px;
}

.back-gray{
    background-color: lightgrey;
}